extends mainLayout
append stylesheets
  link(rel="stylesheet", href="/stylesheets/homePage.css")

block content
    h5.text-center List of best accredited language schools: 467 Schools in All countries
    .text-center.font-weight-100.text-secondary.mb-4 Modify the destination, number of weeks, start date, Accom and use the filter for more options.
    ul.horizonal-Homepage-Schoolfilter.clearfix.mb-5
        li.py-2.px-3
            | --All cities--
        li.py-2.px-3
            | --All schools--
        li.py-2.px-3
            | School ranking
        li.py-2.px-3
            | Recommended
        li.py-2.text-center.px-3.bg-warning
            | No. of Courses |
            span.selected-numberOfCourse.ml-1 476
    ul.horizonal-Homepage-CourseCardList.clearfix.px-auto
        li.mx-3.card-ListItem.p-0.mb-5.p-2.lowShadow-box
            .card.homePage-CourseCard.border-0
                .overflow-hidden.card-ListItem-Image
                    img.card-img-top(src='/images/homepage-Course2.jpg', alt='Card image cap')
                .card-body.py-0
                    h5.card-title.my-0 Card title
                    p.card-text
                ul.list-group.list-group-flush
                    li.list-group-item
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    li.list-group-item
                        | Cras justo odio
        li.mx-3.card-ListItem.p-0.mb-5.p-2.lowShadow-box
            .card.homePage-CourseCard.border-0
                .overflow-hidden.card-ListItem-Image
                    img.card-img-top(src='/images/homepage-Course1.jpg', alt='Card image cap')
                .card-body.py-0
                    h5.card-title.my-0 Card title
                    p.card-text
                ul.list-group.list-group-flush
                    li.list-group-item
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    li.list-group-item
                        | Cras justo odio
        li.mx-3.card-ListItem.p-0.mb-5.p-2.lowShadow-box
            .card.homePage-CourseCard.border-0
                .overflow-hidden.card-ListItem-Image
                    img.card-img-top(src='/images/homepage-Course3.jpg', alt='Card image cap')
                .card-body.py-0
                    h5.card-title.my-0 Card title
                    p.card-text
                ul.list-group.list-group-flush
                    li.list-group-item
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    li.list-group-item
                        | Cras justo odio
        li.mx-3.card-ListItem.p-0.mb-5.p-2.lowShadow-box
            .card.homePage-CourseCard.border-0
                .overflow-hidden.card-ListItem-Image
                    img.card-img-top.overflow-hidden(src='/images/homepage-Course4.jpg', alt='Card image cap')
                .card-body.py-0
                    h5.card-title.my-0 Card title
                    p.card-text
                ul.list-group.list-group-flush
                    li.list-group-item
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    li.list-group-item
                        | Cras justo odio
        li.mx-3.card-ListItem.p-0.mb-5.p-2.lowShadow-box
            .card.homePage-CourseCard.border-0
                .overflow-hidden.card-ListItem-Image
                    img.card-img-top.overflow-hidden(src='/images/homepage-Course5.jpg', alt='Card image cap')
                .card-body.py-0
                    h5.card-title.my-0 Card title
                    p.card-text
                ul.list-group.list-group-flush
                    li.list-group-item
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    li.list-group-item
                        | Cras justo odio
        li.mx-3.card-ListItem.p-0.mb-5.p-2.lowShadow-box
            .card.homePage-CourseCard.border-0
                .overflow-hidden.card-ListItem-Image
                    img.card-img-top.overflow-hidden(src='/images/homepage-Course6.jpg', alt='Card image cap')
                .card-body.py-0
                    h5.card-title.my-0 Card title
                    p.card-text
                ul.list-group.list-group-flush
                    li.list-group-item
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    li.list-group-item
                        | Cras justo odio