extends layout

append stylesheets
  link(rel="stylesheet", href="/stylesheets/enterPage.css")
block content
  body
    div
      div.enterPageTopMenu(style='background-color: #0000001c;')
        .ui.secondary.menu.enterMenu
          //a.active.item
            | Home
          a.item(style='padding:0;')
            button.ui.inverted.button.tiny
              | <i class="fas fa-phone-volume"></i>
              span Reserve By Phone
          a.ui.item(style='color:white;')
            | <i class="far fa-envelope"></i>
            span
              | info@eduvizyon.com
          .right.menu
            .item
              img.logo.ui.image.small(src='/images/logo-eduvizyon.png')
              //.ui.icon.input
                input(type='text', placeholder='Search...')
                i.search.link.icon
            
            //a.ui.item
              | Logout
      .enterPageContent
        .ui.three.column.centered.grid
          .div.contentUpside
            .ui.placeholder.segment
              .ui.centered.row
                .contentText.contentHeader Apply to the best international universities and language schools now!
                .contentText.contentDescription Are you looking for a language course or university degree?
              .programOptions.ui.centered.row
                a.programOption
                  | <i class="fas fa-3x fa-graduation-cap"></i>
                  .optionText
                    | Universities
                a.programOption
                  | <i class="fas fa-3x fa-school"></i>
                  .optionText
                    | Language Schools
              .ui.horizontal.list.socialLinks
                a.item.socialLink <i class="fab fa-lg fa-facebook-f"></i>
                a.item.socialLink <i class="fab fa-lg fa-twitter"></i>
                a.item.socialLink <i class="fab fa-lg fa-linkedin-in"></i>
                a.item.socialLink <i class="fab fa-lg fa-instagram"></i>
