doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/semantic.min.css')
      link(rel='stylesheet', href='../stylesheets/style.css')
    block headerScripts
      script(src='https://kit.fontawesome.com/6bc33e778c.js' crossorigin='anonymous')
      script(src='../dist/semantic.min.js')
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
  block content


