
.enterPageTopMenu{
    margin-bottom: 110px;
}
body{
    background-image: url(../images/bg1.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.contentText{
    margin-left:3px;
    font-weight:100;
    font-size: 0.8rem;
}
span{
    margin-left:3px;
    font-weight:100;
    font-size: 0.8rem;
}
.contentHeader{
    font-size: 1.4rem;
    color:#15365E;
    font-weight: bold;
    margin-bottom: 10px;
    user-select: none;
    margin-bottom: 10px;
}
.contentDescription{
    font-size:1rem;
    color:#15365E;
    font-weight:300;
    user-select: none;
    display: block;
    margin-bottom: 30px;
}
.programOptions{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.programOption{
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 3px 4px 10px 8px rgba(227, 227, 227, 0.82);
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 90px;
    display: inline-block;
    box-sizing: border-box;
}
.programOption:hover{
    box-shadow: none;
    border: 1px solid #68717C;
}
.optionText{
    margin-top: 10px;
    color: black;
    font-weight: 500;
    font-size: 0.8rem;
}
.socialLinks{
    margin-bottom: 10px;
}
.socialLink{
    margin-left:3px;
    margin-right:3px;
    box-shadow: 3px 4px 10px 8px rgba(227, 227, 227, 0.82);
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #1E5392!important;
    width: 25px;
    height: 25px;
    
}
@media only screen and (max-width: 768px) {
    .enterMenu{
        margin-left: 3%!important;
        margin-right: 3%!important;
    }
    .enterPageContent{
        margin-left: 4%;
        margin-right:4%;
    }
  }

@media only screen and (min-width: 768px) {
    .enterMenu{
        margin-left: 20%!important;
        margin-right: 20%!important;
    }
    .contentUpside{
        width: 650px;
    }
}



